/include/ "system-conf.dtsi"
/ {
	model = "Zynq Cora Z7 Development Board";
	compatible = "digilent,zynq-coraz7", "xlnx,zynq-7000";

	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio root=/dev/mmcblk0p2 rw rootwait";
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

  aliases {
    spi0 = &spi0;
    i2ic0 = &i2c0;
  };

  memory {
    device_type = "memory";
    reg = <0x0 0x1D000000>;
  };

  

};


&gem0 {
	phy-handle = <&ethernet_phy>;
/*	phy-reset-gpio = <&gpio0 GPIO_ACTIVE_LOW>;
	phy-reset-active-low;	
	phy-reset-duration = <10>;  */
	ethernet_phy: ethernet-phy@1 { /* rtl8211e-vl */
		reg = <1>;
		device_type = "ethernet-phy";
	};
};
&usb0 {	
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
&sdhci0 {
	u-boot,dm-pre-reloc;
};
&uart0 {
	u-boot,dm-pre-reloc;
};

&i2c0 {
			status = "okay";
};
&spi0 {
			status = "okay";
      spidev@0{
        compatible = "spidev";
        reg = <0>;
        spi-max-frequency = <10000000>;
      };
};

